* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 1140px;
    outline: 1px solid red;
    margin: 0 auto;
}
.hidden {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    margin: -1px;
}
.center {
    text-align: center;
}
.page-title {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.header {
    background: #222;
    color: #fff;
    padding: 18px 0px;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-col-1 {
    display: flex;
    align-items: center;
}
.logo-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
}
.search-button, .main-menu-button {
    background-color: transparent;
    border: none;
}
.registry-link, .cart-link {
    text-decoration: none;
    color: transparent;
}
.registry-link {
    margin: 0px 33px;
}
.offer {
    background: #F1E4E6;
}
.offer-wrap {
    height: 765px;
    background-image: url(../img/man-v-palto.png);
    background-repeat: no-repeat;
    background-position-x: -225px;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.offer-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 90px ;
}
.offer-title--small {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.offer-title--pink {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #F16D7F
}

.categories {
    padding-top: 65px;
    padding-bottom: 85px;
}
.categories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-item {
    background-color: #C4C4C4;
    width: 360px;
    height: 260px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.categories-sale {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.categories-name {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
}
.categories-item--acc {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    background-image: url(../img/acc.jpg);
}
.categories-item--kids {
    background-image: url(../img/kids.jpg);
}
.categories-item--man {
    background-image: url(../img/men.jpg);
}
.categories-item--women {
    background-image: url(../img/woman.jpg);
}
.products {
    padding-top: 20px;
    padding-bottom: 95px;
}
.products-title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 10px;
}
.products-description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    margin-bottom: 45px;
}
.products-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
}
.product {
    width: 360px;
    background-color: #F8F8F8;;
}
.products-text {
    padding: 24px 28px 20px 17px;
}
.products-name {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 20px;
}
.products-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 20px;
}
.products-price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.product-link {
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #F26376;
    padding: 15px 39px;
    display: inline-block;
}
.features {
    background-color: #222;
    color: #fff;
    height: 341px;
}
.features-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 110px;
}
.features-content {
    width: 360px;
    height: 134px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.features-card {
    margin-bottom: 20px;
}
.features-name {
    margin-bottom: 20px;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}
.features-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    /* margin-bottom: 95px; */
}
.feedback {
    background-image: url(../img/feedback-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 155px;
}
.feedback-wrap {
    height: 448px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feedback-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.feedback-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}
.sub {
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.sub-text {
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}
.subscribe {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.subscribe-field {
    background: #E1E1E1;
    border: none;
    padding: 20px 0 20px 20px;
    border-radius: 25px 0 0 25px;
}
.subscribe-button {
    background: #F16D7F;
    color: #FFFFFF;
    border: none;
    padding: 15px 20px;
    border-radius: 0 25px 25px 0;
}
.inner-title {
    height: 150px;
    background-color: #F8F3F4;;
    display: flex;
    align-items: center;
}
.inner-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breadcrumbs {
	padding: 20px;
}
.breadcrumbs-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.breadcrumbs-item::before {
  content: '/';
  margin-right: 10px;
}

.breadcrumbs-item:first-child::before {
  display: none;
}

.breadcrumbs-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  transition: 0.2s;
}

.breadcrumbs-link--current {
  font-weight: bold;
  color: #F16D7F;
}

.breadcrumbs-link[href]:hover {
  text-decoration: underline;
  color: #F16D7F;
}
.filter-box {
    display: flex;
    margin: 50px 0px 60px 0px;
}
.filter {
    width: 360px;
    margin-left: 15px;
}
.filter-title:after{
  width: 44px;
  height: 17px;
  left: 246px;
  top: 274px;
  content: url(/img/filter.svg);
}
.sort {
    display: flex;
    width: 360px;
    margin-left: 15px;
}
.sort-name:after {
    content: url(/img/arrow-filter.png);
    margin-right: 20px;
}
/* registration.html */
.login-txt {
    margin:20px 0px;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
}
.username {
    margin-bottom: 20px;
    padding: 15px;
    width: 360px;
}
.characters {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}
.button-joinnew {
    background-color: #F16D7F;
    padding: 20px 0px 20px 20px;
    width: 165px;
    margin-top: 40px;
    border: none;
    color: #FFFFFF;;
}
.button-arrow:after {
    content: url(../img/arrow.png);
    padding-left: 20px;
}
.form-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
}
.headingperks {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px; 
    color: #000000;
    margin-bottom: 30px;
}
.heading-text {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px; 
    color: #000000;
    margin-bottom: 30px;
}
.ul-offer {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px; 
    color: #000000;
    list-style: none;
}
.li-offer {
    margin-bottom: 15px;
}
.li-style:before {
content: url(../img/check.png);
margin-right: 20px;
}
.footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    padding-top: 100p;
}
.footer-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
.footer-copirycht {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}
.social-link {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.social-link:hover {
    background-color: #F16D7F;
    color: white;
}
.social-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.social-item {
    margin-left: 5px;
}
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.pagination-btn--current {
    color: #F16D7F;
}
.pagination-btn {
    background-color: #fff;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color:#C4C4C4;
}
.pagination-btn--next .pagination-btn--prev {
    color: #000000;
}
.pagination-list {
    list-style: none;
    display: flex;  
    padding: 20px;
    border: 1px solid grey;
    border-radius: 5px;
}
.pagination-item {
    margin-right: 15px;
}
